# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcworkspace/
*.xcuserdata

# Build products
build/
DerivedData/

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Other
*.swp
*~.nib
*.orig